apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  selector:
    name: nginx-pod
    project: roboshop
    component: frontend
    environment: dev
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80  